version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: cinematch_postgres
    ports:
      - "5432:5432"
    env_file:
      - ./postgres.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: