[part="input-field"] {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}

/* Keep the same border when focused */
:host([focused]) [part="input-field"] {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
}

/* Invalid state */
:host([invalid]) [part="input-field"] {
  box-shadow: inset 0 0 0 1px var(--lumo-error-color);
}
